{% extends 'base.html' %}
{% block title %}忘记密码{% endblock %}

{% block css %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/static/laf/css/login_bootstrap.min.css">

<!-- Loding font -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">

<!-- Custom Styles -->
<link rel="stylesheet" type="text/css" href="/static/laf/css/login_styles.css">
{% endblock %}

{% block nav %}
    {% include 'nav.html' %}
{% endblock %}

{% block content %}

<div class="container" id="login">
    <div class="row justify-content-center">
	<div class="col-lg-8">
        <div class="login">

            <h2>忘记密码</h2>
		    <!-- forget form -->
            <form action="/accounts/forget/" method="post">
                {% csrf_token %}
				<div class="form-group">
                    <input type="text" id="email" class="form-control" name="email" placeholder="邮箱">
                    <p id="email-error" class="errors">{{ errors.email }}</p>
				</div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" name="captcha" placeholder="验证码">
                            <p class="errors">{{ errors.captcha }}</p>
                        </div>
                        <div class="col">
                            <button id="send_captcha_btn" type="button" style="background: #005cbf" value="发送验证码" class="btn btn-lg btn-block btn-success">发送验证码</button>
                        </div>
                    </div>
				</div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="新密码">
                    <p class="errors">{{ errors.password }}</p>
				</div>
                <div class="form-group">
                    <input type="password" class="form-control" name="re_password" placeholder="确认密码">
                    <p class="errors">{{ errors.re_password }}</p>
				</div>
				<button type="submit" class="btn btn-lg btn-block btn-success">找回密码</button>
            </form>
		 <!-- End form -->
        </div>
	</div>
	</div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<hr>

<script src="/static/laf/js/jquery.min.js"></script>
<!--发送邮件验证码-->
    <script>
        $("#send_captcha_btn").click(function(){
            var email = $("#email").val();
            if(email == ""){
                $("#email-error").text("请输入邮箱")
            }
            else {
                var time = 60;
                $("#send_captcha_btn").attr("disabled", true);
                var timer = setInterval(function () {
                    if (time==0){
                        clearInterval(timer);
                        $("#send_captcha_btn").attr("disabled", false);
                        $("#send_captcha_btn").text("获取验证码");
                    }
                    else{
                        time--;
                        $("#send_captcha_btn").text("" + time + "秒后重试");
                    }
                }, 1000);

                //后台ajax发送验证码
                $.ajax({
                    url: "/email/captcha/",
                    type: "post",
                    async: true,
                    "Content-Type": "application/json",
                    headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()},
                    data: {'email': email.toString()},
                    success: function (response) {
                        if(response['status'] != 1){
                            $("#email-error").text(response['email']);
                            console.log('ceshi');
                        }
                    }
                });
            }
        });
    </script>

{% endblock %}